{% extends "webpages/base.html" %}
<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-button w3-padding-16 w3-left">Hello {{ request.user }}</div>
    {% if request.user.is_authenticated %}
    <div class="w3-button w3-right w3-padding-16" onclick='GoTo("{% url 'logout' %}")'>Logout</div> 
    {% else %}
    <div class="w3-button w3-right w3-padding-16" onclick='GoTo("{% url 'login' %}")'>Login</div> 
    {% endif %}
    <div class="w3-center w3-padding-16">Cinema Ghar</div>
  </div>
</div>

{% load chunks %}
{% block content %}
<div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
  <div class="w3-center w3-padding-16">Book your Favourite Movie !!!</div>
</div>
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
  {% for row in movies|chunks:4 %}
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    {% for movie in row %}
    <div class="w3-quarter" onclick='GoTo("{% url 'movie' movie_id=movie.id %}")' style="cursor: pointer;">
      <img src="{{ movie.image.url }}" alt="Sandwich" style="width:100%">
      <h3>{{ movie.name }}</h3>
      <p>Length: {{ movie.length }} mins</p>
    </div>
    {% endfor %}
  </div> 
  {% endfor %}
{% endblock %}

