{% extends "webpages/base.html" %}

{% block title %} {{ movie.name }} {% endblock %}

{% block content %}
<div class="container text-center" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-16">
      <h2>{{ movie.name }}</h2>
      <h6>{{ movie.summary }}</h6>
    </div>
  </div>
</div>

<div class="container text-center" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <img class="img_large" src="{{ movie.image.url }}" class="fakeimg">
    </div>
    <div class="col-sm-4">
      <input type="button" value="Buy Ticket" class="btn btn-primary">
    </div>
    <div class="col-sm-4">
      <input type="button" value="Watch Trailer" class="btn btn-secondary">
    </div>
  </div>
</div>
{% endblock %}

</body>
</html>

